body {
  background: #111;
  color: #eee;
  font-family: Arial;
  padding: 20px;
}

.hidden {
  display: none;
}

textarea {
  width: 100%;
  height: 300px;
  background: #222;
  color: #0f0;
  padding: 10px;
  border: 1px solid #444;
}

img {
  max-width: 150px;
  margin: 10px;
  border: 2px solid #555;
}

.mode-select button,
#ripUrl,
#ripHtml,
#downloadZip {
  padding: 10px 20px;
  background: #333;
  color: #eee;
  border: 1px solid #555;
  cursor: pointer;
  margin-right: 10px;
}

.mode-select button:hover,
#ripUrl:hover,
#ripHtml:hover,
#downloadZip:hover {
  background: #444;
}
