body {
  background: #111;
  color: #eee;
  font-family: Arial;
  padding: 20px;
}

.hidden {
  display: none;
}

textarea {
  width: 100%;
  height: 300px;
  background: #222;
  color: #0f0;
  padding: 10px;
}

img {
  max-width: 150px;
  margin: 10px;
  border: 2px solid #555;
}

.mode-select button {
  margin-right: 10px;
  padding: 10px;
}
